/* reusd */

*{
    margin: 0;   
    padding: 0;
}


a{
    text-decoration: none;
}
body{
    background-image: url(../img/bg.png);
    background-size: 1440px 1024px;
    background-repeat: no-repeat;
    background-color: #221A37;
}
.flex{
    display: flex;
}
.grid{
    display: grid;  
}

/* reusd */
/* header */
#header{

}
#header .flex{}
#header{}
#header{}
/* header */