/* reusd */

*{
    margin: 0;   
    padding: 0;
}


a{
    text-decoration: none;
}
body{
    background-color: #000;
}  
#main_part{
    background-image: url(../img/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #221A37;
    background-position: left top;
    height: 100vh;
    border-radius: 60px ;
}
.flex{
    display: flex;
}
.grid{
    display: grid;  
}

/* reusd */
/* header */
#header{
    padding: 60px 72px;
}
#header .flex {
    justify-content: space-between;
}
#header .flex .nav{
    display: flex;
}
#header .nav_link{ 
    color: #fff !important;
    padding: 12px 20px;
    text-transform: capitalize;
    font-size: 12px;
}
#header .nav_link:hover{
    background-color: #402166;
    border-radius: 25px;

}
#header .logo{
    font-size: 27px;
    color: #fff;
    border-radius: 20px;
}

/* header */
/* card_part */
#card_part{
    padding: 60px 72px;
}
#card_part .grid{
    grid-template-columns: 50% 50%;
}
#card_part h1{
    color: #fff;
    font-size: 52px;
    line-height: 70px;
}
#card_part h6{
    color: #575757 ;
}
.Chief{
    font-size: 20px;
    color: #5D3974;
}
#card_part .space{
    color: #C0C0C0 ;
    font-size: 14px;
    margin-bottom: 20px;
}
/* card_part */
/* page css  */
#main_part_gallery{
    background-image: url(../img/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #221A37;
    background-position: left top;
    height: 150vh;
    border-radius: 60px ;
}
#card_parta_gallery{
    padding: 0px 20px;
}
#card_parta_gallery .grid{
    grid-template-columns: 50% 50%;
}
.sub_grid{
    display: grid;
    grid-template-columns: 50% 50%;
}
.resum_sub_grid{
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 5px;
}
.sub_grid img{ 
    height: 750px;
    width: 100%;
}
.resum_sub_grid_tiems_01 p{
    color: #5D3974;
    font-size: 30px;
}
.resum_sub_grid_tiems_01 h5{
    color: #575757;
    font-size: 25px;
}
.resum_sub_grid_tiems_02 .padding{
    margin: 0;
   padding: 0 0 0 20px  ;
}
.resum_sub_grid_tiems_02{
    position: relative;
}
.resum_sub_grid_tiems_02::before{
    width: 3px;
    height: 185px;
    content: "";
    background-color: #fff;
    position: absolute;
    box-shadow: 11 17 black;
    left: -29px;
}
/* page css  */
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
    .flex{
        display: inline-block;
    }
    .grid{
        display: grid;  
    }
}
  
  /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {}
  
  /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {}
  
  /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {}
  
  /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}
  